{% extends 'base.html.twig' %}

{% block title %}Basket: {{ basket.name }}{% endblock %}

{% block head %}
    <meta name="csrf-token" content="{{ csrf_token('basket') }}">
{% endblock %}

{% block body %}
    <div
        class="w-full max-w-screen-sm mx-auto px-4"
        {{ turbo_stream_listen(basket) }}
        {{ turbo_stream_listen('App\\Entity\\BasketItem') }}
    >
        <div class="flex justify-between items-center">
            <h1 id="basket-name-{{ basket.id }}" class="text-2xl my-8">{{ basket.name }}</h1>
            <a href="{{ path('baskets') }}" class="flex items-center gap-1 hover:cursor-pointer">
                Go back
                <img alt src="{{ asset('build/icons/arrow-long-right.svg') }}" class="w-6 h-6 ml-2">
            </a>
        </div>

        <ul>
            <li><a href="{{ path('baskets_edit', {basket: basket.id}) }}">Edit basket</a></li>
        </ul>

        <ul
            id="basket-item-list"
            role="list"
            class="divide-y divide-gray-100 dark:divide-white/5"
            {{ stimulus_controller('basket-reorder', {url: path('baskets_reorder', {basket: basket.id})}) }}
        >
            {% for item in basket.items %}
                {% include 'baskets/_basket_item_row.html.twig' with {item: item, basket: basket} %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
