{% extends 'base.html.twig' %}

{% block title %}Basket: {{ basket.name }}{% endblock %}

{% block head %}
    <meta name="csrf-token" content="{{ csrf_token('basket') }}">
{% endblock %}

{% block body %}
    <div class="w-full max-w-screen-sm mx-auto px-4">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl my-8">{{ basket.name }}</h1>
            <a href="{{ path('baskets') }}" class="flex items-center gap-1">
                Go back
                <img alt src="{{ asset('build/icons/arrow-long-right.svg') }}" class="w-6 h-6 ml-2">
            </a>
        </div>

        <ul
            role="list"
            class="divide-y divide-gray-100 dark:divide-white/5"
            {{ stimulus_controller('basket-reorder', {url: path('baskets_reorder', {basket: basket.id})}) }}
        >
            {% for item in basket.items|sort((a,b) => a.weight <=> b.weight) %}
                <li
                    draggable="true"
                    class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap cursor-move select-none"
                    data-id="{{ item.id }}"
                    data-action="dragstart->basket-reorder#dragstart dragover->basket-reorder#dragover dragend->basket-reorder#dragend drop->basket-reorder#drop"
                >
                    <div
                        {{ stimulus_controller('basket-item-toggle', {url: path('baskets_toggle_item', {basket: basket.id, item: item.id})}) }}
                        class="flex items-center gap-x-4 {{ item.isInCart ? 'line-through' }}"
                    >
                        <div class="group grid size-4 grid-cols-1 shrink-0">
                            <input
                                type="checkbox"
                                id="{{ item.id }}"
                                name="{{ item.id }}"
                                class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-indigo-600 checked:bg-indigo-600 indeterminate:border-indigo-600 indeterminate:bg-indigo-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 dark:border-white/10 dark:bg-white/5 dark:checked:border-indigo-500 dark:checked:bg-indigo-500 dark:indeterminate:border-indigo-500 dark:indeterminate:bg-indigo-500 dark:focus-visible:outline-indigo-500 dark:disabled:border-white/5 dark:disabled:bg-white/10 dark:disabled:checked:bg-white/10 forced-colors:appearance-auto"
                                {{ item.isInCart ? 'checked' }}
                                {{ stimulus_action('basket-item-toggle', 'toggle', 'change') }}
                            >
                            <svg viewBox="0 0 14 14" fill="none"
                                 class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25 dark:group-has-disabled:stroke-white/25">
                                <path d="M3 8L6 11L11 3.5" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"
                                      class="opacity-0 group-has-checked:opacity-100"/>
                                <path d="M3 7H11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                      class="opacity-0 group-has-indeterminate:opacity-100"/>
                            </svg>
                        </div>

                        <label
                            for="{{ item.id }}"
                            class="text-md font-semibold text-gray-900 dark:text-white"
                        >
                            {{ item.product.name }}
                        </label>
                    </div>
                    <div class="flex flex-none items-center gap-x-2.5 text-sm/6 text-gray-900 dark:text-white">
                        <span>{{ item.amount }}</span>
                        <span>{{ item.unit.label }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
